@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Regular.eot');
    src: url('HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('HKGrotesk-Regular.woff2') format('woff2'),
        url('HKGrotesk-Regular.woff') format('woff'),
        url('HKGrotesk-Regular.ttf') format('truetype'),
        url('HKGrotesk-Regular.svg#HKGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Light.eot');
    src: url('HKGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('HKGrotesk-Light.woff2') format('woff2'),
        url('HKGrotesk-Light.woff') format('woff'),
        url('HKGrotesk-Light.ttf') format('truetype'),
        url('HKGrotesk-Light.svg#HKGrotesk-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Medium.eot');
    src: url('HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('HKGrotesk-Medium.woff2') format('woff2'),
        url('HKGrotesk-Medium.woff') format('woff'),
        url('HKGrotesk-Medium.ttf') format('truetype'),
        url('HKGrotesk-Medium.svg#HKGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

